{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="../static/todo/css/base.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Edit task</h1>
    <p id="p">You can edit tasks from the following form.</p>
    <form action="{% url 'update' task.id%}" method="post" id="form">
      {% csrf_token %}
      <div id="title">
        <label for="titleInput" class="title">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title" value="{{ task.title }}">
      </div>
      <div id="due_at">
        <label for="dueInput" class="due_at">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>
  </body>

</html>